#latest{
  padding: 100px 0;
}
#latest .head:after{
  content: "";
  display: table;
  clear: both;
}
#latest .head h1{
  color: #6066f2;
  font-size: 3rem;
  font-weight: 700;
  max-width: 400px;
  width: 100%;
  display: inline-block;
  float: left;
}
#latest .head .directions{
  float: right;
  display: inline-block;
  position: relative;
}

#latest .head .directions .left{
  float: left;
  padding: 15px 40px;
  font-size: 3rem;
  color: #e5e5e5;
  border-radius: 5px 0 0 5px;
  border: 1px solid #e5e5e5;
  transition: 0.3s ease-in-out;

}
#latest .head .directions .right{
  float: right;
  padding: 15px 40px;
  font-size: 3rem;
  color: #e5e5e5;
  border-radius: 0 5px 5px 0;
  border: 1px solid #e5e5e5;
  transition: 0.3s ease-in-out;

}
#latest .head .directions .left:hover, #latest .head .directions .right:hover{
  background: #6066f2;
  color: white;
}
#latest .body{
  padding: 50px 0;
}
#latest .body:after{
  content: "";
  display: table;
  clear: both;
}
#latest .body .column{
  width: 33.33%;
  float: left;
  padding: 15px;
  text-align: center;
}

#latest .body .column .bg-square{
  width: 305px;
  height: 310px;
  margin: 0 auto;
  background: rgb(177,130,230); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(177,130,230,1) 23%, rgba(233,150,86,1) 47%, rgba(199,117,172,1) 80%, rgba(160,116,211,1) 90%, rgba(160,116,211,1) 90%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(177,130,230,1) 23%,rgba(233,150,86,1) 47%,rgba(199,117,172,1) 80%,rgba(160,116,211,1) 90%,rgba(160,116,211,1) 90%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(177,130,230,1) 23%,rgba(233,150,86,1) 47%,rgba(199,117,172,1) 80%,rgba(160,116,211,1) 90%,rgba(160,116,211,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#latest .body .column .bg-square img{
  width: 120%;
  position: relative;
  top: -66px;
  left: -27px;
}
#latest .body .column .bg-square .cart{
  position: relative;
  top: -391px;
  right: -276px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 5px solid white;
  background: rgb(177,130,230); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(177,130,230,1) 23%, rgba(233,150,86,1) 47%, rgba(199,117,172,1) 80%, rgba(160,116,211,1) 90%, rgba(160,116,211,1) 90%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(177,130,230,1) 23%,rgba(233,150,86,1) 47%,rgba(199,117,172,1) 80%,rgba(160,116,211,1) 90%,rgba(160,116,211,1) 90%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(177,130,230,1) 23%,rgba(233,150,86,1) 47%,rgba(199,117,172,1) 80%,rgba(160,116,211,1) 90%,rgba(160,116,211,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#latest .body .column .bg-square .cart i{
  color: white;
  font-size: 1.2rem;
  position: relative;
  top: 14px;
  left: -1px;
}
#latest .body .column hr{
  border: none;
  margin-top: 30px;
  height: 2px;
  width: 100px;
}
#latest .body .column .orange-line{
  background: #f59b3a;
}
#latest .body .column .purple-line{
  background: #6f59f1;
}
#latest .body .column .blue-line{
  background: #82ded7;
}
#latest .body .column .price{
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 700;
}
#latest .body .column .price.purple-number{
  color: #6f59f1
}
#latest .body .footer{
  position: absolute;
}
#latest .footer img{
  position: relative;
  width: 20%;
  top: 0;
  left: 40%;
  z-index: 1;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) invert(100%);
  opacity: .2;
}
#latest .footer .info-box{
  position: relative;
  z-index: 2;
  top: -117px;
  left: 6%;
  display: inline-block;
}
#latest .footer .info-box h2{
  font-size: 2.5rem;
  font-weight: 700;
  color: #6066f2;
  text-align: center;
  margin-bottom: 35px;
}
#latest .footer .info-box .input-area input, #latest .footer .info-box .email-area input{
  outline: none;
  border: none;
  position: relative;
  top: 12px;
}
#latest .footer .info-box .input-area input::placeholder, #latest .footer .info-box .email-area input::placeholder{
  color: #d5e2ea;
}
#latest .footer .info-box .input-area i, #latest .footer .info-box .email-area i{
  position: relative;
  top: 13px;
  color: #d5e2ea;
}
#latest .footer .info-box .input-area{
  display: inline-block;
  background: white;
  border-radius: 35px;
  padding: 5px;
  float: left;
  width: 250px;
  height: 51px;
  margin-right: 15px;
}
#latest .footer .info-box .input-area input{
}
#latest .footer .info-box .email-area{
  background: white;
  border-radius: 35px;
  display: inline-block;
  padding: 5px;
}
#latest .footer .info-box .email-area button{
  background: #5258ef;
  padding: 15px 30px;
  border-radius: 35px;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  outline: none;
  border: none;
  float: right;
}
/* desktop */
@media only screen and (max-width: 1343px) {

}
/* tablets */
@media only screen and (max-width: 968px) {

}
/* mobile */
@media only screen and (max-width: 600px) {

}
